@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

body {
  margin: 0;
  padding: 0;

  }

/****************   Nav Section **********************/
nav {

  background-color: #83aedf;
  padding: 16px 24px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);

  display:flex;
  justify-content: space-between;
  align-items: center;

	
}

/***********************  Footer Section   **************************/
footer {
  background-color: #83aedf;   /* property #1 */
  padding: 20px;               /* property #2 */
  margin-top: 40px;

  /* FLEXBOX */
  display: flex;
  justify-content: center;     /* centers children horizontally */
  align-items: center;
	
}

/*********** Splash Page ************************/
header {
  background-color: #C7DBE6;
  padding: 2rem;
  text-align: center;

}

header h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.75rem;
  color: #233889
  
}

header img {
  border-radius: 50%;
  border: 3px solid #233889;

}

.address {
  font-size: 0.9rem;
  color: #233889;
 
}

.tagline {
  font-style: italic;
  color: #233889;
  margin-top: 12px;
  
}

/************* Sections ********************/
hr {
  border:none;
  height: 2px;
  background-color: #215d96;
  margin: 2rem 0;

}

section h3 {
  font-family: 'Montserrat', sans-serif;
  color: #233889;
  font-size: 1.4rem;
  margin-bottom: 0.75rem;  
}

section dl {
  display: grid;
  grid-template-columns: max-content 1fr;
  gap: 0.5rem 1rem;
  
}

section ul {
  list-style-type: square;
  padding-left: 1.5rem;
  color: #071108;

}

section a {
  color: #233889;
  text-decoration: none;

}

section a:hover {
  color: #071108;
  text-decoration: underline;
}

/**************   Projects   *****************/
.three-col {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
	
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 0.75rem;

}

.card {
  background-color: #d7f6ff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
}

/**************   Responsiveness   *****************/
@media (max-width: 680px) {
    nav {
      flex-direction: column;
      align-items: center;
      gap: 0.5rem;
      
    }

    .three-col {
      grid-template-columns: 1fr;
      gap: 1rem;
      justify-items: center;
      
    }
}

/**************   Contact Page   *****************/
.one-col {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 1rem;
  gap: 1rem;

}

input {
  width: 100%; 
  padding: 0.5rem;
  border: 1px solid #233889;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;

}

textarea {
  width: 100%; 
  padding: 0.5rem;
  border: 1px solid #233889;
  border-radius: 8px;
  font-size: 1rem;
  box-sizing: border-box;

   
}